<h2 class="inline-block">
  <% if params[:filter].blank? || params[:filter].to_s == 'all' %>
    <%= t("admin.menu.audits") %>
  <%else%>
    <%= t("admin.menu.resource_audits", resource: "#{t("admin.menu.audit_tabs.#{params[:filter].to_s}")}") %>
  <% end %>
</h2>

<%= render "admin/shared/audits/index", audits: @audits %>